<div class="row">
	<div class="panel small-6 columns circle-widget1">
		<p><%= @total_errors %></p>
		<h2><i class="fa fa-exclamation-triangle"></i> Total Errors</h2>
	</div>

	<div class="panel small-6 columns circle-widget2">
		<p><%= @unsolved_errors %></p>
		<h2><i class="fa fa-times"></i> Unsolved</h2>
	</div>
</div>