<div class="dashboard-content small-10 columns">
	<h6>Welcome, <%= current_user.firstname.capitalize %></h6>

	<div class="title">
		<h3>Your Error Logs</h3>
	</div>

	<div>
		<% @user_errorlogs.each do |errorlog|%>
			<div class="panel dash-panel">
			  <h5><%= link_to errorlog.title, errorlog_path(errorlog) %></h5>
			  <p>
			  	<% raw errorlog.tags.map(&:tag_name).map {|t| link_to t, tag_path(t)}.each do |t| %>
          	<span class="[success alert secondary] label"><%= t %></span>
          <% end %>
        </p>
			</div>
		<% end %>
	</div>
	<%= link_to "Create new Error Log", new_errorlog_path %>
</div>

