/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.home-panel {
	// background-color: #005e99;
	height: 100%;
	background-image: url("errupt-bg2.jpg")
}

.home-panel-content, h1 {
	color: black;
}

.home-panel-image {
	width: 50%;
}

//small screen sizes
@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}

.dashboard-content {
	margin-right: 10%;
}

.dash-panel p a {
	color: white;
}

.err-info p a {
	color: white;
}

.dash-panel h5 a{
	color: #CF000F;
}

.signup-form {
	width: 60%;
	margin-left: 20%;
}

.new-error-form {
	margin-left: 5%;
}

.red-button {
	background-color: #CF000F;
}

.title {
	background-color: #19B5FE;
	margin-top: 2%;
	margin-bottom: 2%;
}

.title h2, h3 {
	color: white;
}

.err-desc {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.icon-bar {
	padding: 2% 0 0 0;
}