/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.home-panel {
	// background-color: #005e99;
	height: 100%;
	background-image: url("errupt-bg2.jpg")
}

body {
	background-color: #DADFE1;
	font-family: 'Open Sans', sans-serif;
}

.home-panel-content, h1 {
	color: black;
}

.home-panel-image {
	width: 50%;
}

.top-bar {
	background-color: black;
}

.top-bar .name h1  {
	color: white;
	background-color: #CF000F;
}

//small screen sizes
@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}

.dashboard-content {
	margin-right: 10%;
}

.dash-panel {
	background-color: white;
}

.dash-panel p a {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.err-info {
	background-color: black;
	padding-left: 15px;
}

.err-info p, a {
	color: white;
}

.dash-panel h5 a{
	color: #CF000F;
	font-family: 'Open Sans', sans-serif;
}


.signup-form {
	width: 60%;
	margin-left: 20%;
}

.new-error-form {
	margin-left: 5%;
}

.red-button {
	background-color: #CF000F;
}

.green-button {
	background-color: #2ECC71;
	border-left: 4px black solid;
}

.solution-button {
	padding: 0;
}

.title {
	background-color: #CF000F;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.5%;
}

.title h2, h3 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.err-desc {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.worked-solution-desc {
	background-color: #2ABB9B;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.failed-solution-desc {
	background-color: #F9BF3B;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.icon-bar {
	padding: 2% 0 0 0;
	width: 12% !important;
	background-color: #333333;
}

.icon-bar > * {
	text-align: left;
}


.item {
	border-left: 3px solid #CF000F;
	margin-top: 10px !important;
}


.item:hover {
	background-color: black;
	border-left: 3px solid #19B5FE;
	// padding-left: 0;
}

.item i {
	font-size: 1em;
}

.sm-dash-widget1 {
	height: 200px;
	background-color: #6BB9F0;
	border-left: 5px solid white;
}

.sm-dash-widget2 {
	height: 200px;
	background-color: #36D7B7;
	border-left: 5px solid white;
}

.sm-dash-widget1 h2, .sm-dash-widget2 h2 {
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.sm-dash-widget1 p, .sm-dash-widget2 p {
	font-size: 3em;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.unique-tags a {
	color: white !important;
}
