/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/* Layout */

body {
	background-color: #DADFE1;
	font-family: 'Open Sans', sans-serif;
}

.top-bar {
	background-color: black;
}

.top-bar .name h1  {
	color: white;
	background-color: #CF000F;
	width: 165px;
	text-align: center;
}

@media (max-width: 991px) {
  .mobile-only {
      display:block !important;
  }

  .desktop-only {
      display:none !important;
  }
}

.red-button {
	background-color: #CF000F;
}

.green-button {
	background-color: #2ECC71;
}

.title {
	background-color: #CF000F;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0.5%;
}

.title h2, h3 {
	color: white;
	font-family: 'Open Sans', sans-serif;
}


/* Home Page */

.home-panel {
	height: 100%;
	background-image: url("errupt-bg4.jpg")
}

.home-panel-content, h1 {
	color: white;
	background-color: black;
	opacity: 0.8;
}


/* Dashboard */

.icon-bar {
	padding: 2% 0 0 0;
	width: 12% !important;
	background-color: #333333;
}

.icon-bar > * {
	text-align: left;
}

.item {
	border-left: 3px solid #CF000F;
	margin-top: 10px !important;
}


.item:hover {
	background-color: black;
	border-left: 3px solid #19B5FE;
}

.item i {
	font-size: 1em;
}

.dashboard-content {
	margin-right: 10%;
}

.dash-error-panel {
	background-color: white;
}

.dash-error-panel p a {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.dash-error-panel h5 a{
	color: #CF000F;
	font-family: 'Open Sans', sans-serif;
}

.err-info {
	background-color: black;
	padding-left: 15px;
}

.err-info p, a {
	color: white;
}

.container2 {
	background-color: #BDC3C7;
}

.circle-widget1 {
	border-radius: 50%;
	width: 210px;
	height: 210px; 
	background-color: #f1c40f;
	border: 5px solid white;
}

.circle-widget2 {
	border-radius: 50%;
	width: 210px;
	height: 210px; 
	background-color: #36D7B7;
	border: 5px solid white;
}

.circle-widget1 h2, .circle-widget2 h2 {
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	color: white;
	padding-top: 15%;
	text-align: center;
}

.circle-widget1 p, .circle-widget2 p {
	font-size: 3em;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.unique-tags-widget a {
	color: white !important;
}

.unique-tags-widget {
	background-color: #6BB9F0;
	border: 5px solid white;
}

.unique-tags-widget h2 {
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}


/* Errorlog show page */

.err-desc {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}


/* Solution */

.solution-button {
	padding: 0;
}

.worked-solution-desc {
	background-color: #2ABB9B;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.failed-solution-desc {
	background-color: #F9BF3B;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}