<div class="icon-bar vertical three-up large-2 columns end desktop-only">
  <a class="item" href="/dashboard">
    <i class="fa fa-home"> Home</i>
  </a>
  <a class="item" href="/errorlogs/new">
    <i class="fa fa-plus"> New Error</i>
  </a>
  <a class="item">
    <i class="fa fa-cogs"> Account</i>
  </a>
</div>