<div class="icon-bar vertical three-up large-2 columns desktop-only">
  <a class="item" href="/dashboard">
    <i class="fa fa-home"></i>
    <label>Home</label>
  </a>
  <a class="item" href="errorlogs/new">
    <i class="fa fa-plus"></i>
    <label>Log error</label>
  </a>
  <a class="item">
    <i class="fa fa-cogs"></i>
    <label>Account</label>
  </a>
</div>